@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color-body: #474747; /* Kolor tła */
    --color-heading: #ffffff;
    --color-base: #033f47;
    --color-base2: #1a1a1a;
    --font-base: "Press Start 2P";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-body); /* Kolor tła */
    color: var(--color-heading); /* Kolor tekstu */
    font-family: var(--font-base), sans-serif;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

.start {
    align-items: center;
    justify-content: center;
}

.scroll-down {
    position: absolute;
    display: flex;
    bottom: 0;
}

.middle-img {
    display: flex;
    justify-content: center;  /* Wyśrodkowanie poziome */
    align-items: center;      /* Wyśrodkowanie pionowe */
    position: absolute;       /* Używamy absolutnego pozycjonowania */
    top: 50%;                 /* Wyśrodkowanie w pionie */
    left: 50%;                /* Wyśrodkowanie w poziomie */
    transform: translate(-50%, -50%); /* Zastosowanie transformacji, by dokładnie wyśrodkować */
    width: 100%;
    height: 100vh;            /* Ustawiamy wysokość na pełną wysokość okna */
    background-color: var(--color-body); /* Kolor tła */
}

.middle-img img {
    max-width: 100%;
    max-height: 100vh;
    width: auto;              /* Zachowanie proporcji */
    height: auto;             /* Zachowanie proporcji */
    pointer-events: none;     /* Wyłączenie interakcji z obrazkiem */
}

.btn {
    border: none;
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 100%;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}

@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-30px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.main {
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu {
    display: flex;
    position: absolute;
    top: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menu-box {
    display: flex;
    background-color: var(--color-body); /* Tło dopasowane do tła startowego */
    border: 2px solid #bc1e4a; /* Pogrubienie obramówki do 2px */
    border-radius: 5px;
    height: 400px;
    width: 350px;
    flex-wrap: wrap;
    gap: 2px;
}

.menu-btn {
    margin-top: 15px;
}

footer {
    color: #302f2f;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    bottom: 0px;
    position: absolute;
}

footer a {
    color: #302f2f;
}

footer a:hover {
    color: #302f2f;
}

#autosurf {
    display: none;
}

.autosurf-box {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-body); /* Tło dopasowane do tła startowego */
    border: 2px solid #bc1e4a; /* Pogrubienie obramówki do 2px */
    border-radius: 5px;
    height: 400px;
    width: 600px;
}

.menu-btn.back {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
}

.back .btn {
    font-size: 24px;
}

.hed {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 90px;
    text-align: center;
    justify-content: center;
}

.hed h5 {
    margin-bottom: 80px;
}

.hed p i {
    font-size: 32px;
    margin-right: 10px;
}

.authors {
    display: flex;
    justify-content: space-between;
    margin-top: -22px;
}

.authors .btn-brand {
    font-size: 12px;
}

#freehack {
    display: none;
}

.bigklamoty {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 5%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.back-2 {
    margin-top: 10px;
    font-size: 25px;
}

#about {
    display: none;
}

#about .hed {
    margin-bottom: 50px;
}
